/*fonts links*/
@font-face{
	src: url();
	font-family: ;
}
@font-face{
	src: url();
	font-family: ;
}
@font-face{
	src: url();
	font-family: ;
}
@font-face{
	src: url();
	font-family: ;
}
img{
	width: 600px;
	height: 338px;
}